@import "~normalize.css";
@import "variables";
@import "mixin";

body {
  @include font;
}

.page {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 396px;
  margin-bottom: 16px;
  color: $primaryColor;
  background: url("https://i.ibb.co/6XjvCPv/Bitmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bgColorOpacity;

  @media (max-width: $screen-md) {
    margin-bottom: 8px;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 20px;

    div {
      margin-left: 60px;

      @media (max-width: $screen-md) {
        margin-left: 32px;
      }
    }

    button {
      margin-right: 60px;
      margin-left: auto;
      text-transform: uppercase;
      font-weight: 600;
      font-size: $fontSizeL;
      line-height: 24px;
      color: $secondaryColor;
      background: $bgColorBtn;
      border-radius: 4px;
      cursor: pointer;
      padding: 12px 18px;
      border-width: 0;

      @media (max-width: $screen-md) {
        margin-right: 20px;
        font-size: $fontSizeM;
        padding: 8px 14px;
      }
    }
  }

  &__title {
    font-weight: 300;
    font-size: 40px;
    margin-left: 260px;

    @media (max-width: $screen-md) {
      font-size: 30px;
      margin-left: 76px;
      margin-top: 52px;
    }
  }

  .search-form {
    &__content {
      display: flex;
      justify-content: center;
      font-size: $fontSizeL;
      line-height: 24px;
      border-radius: 4px;
      flex-direction: row;
      gap: 14px;

      @media (max-width: $screen-md) {
        font-size: $fontSizeM;
      }

      input {
        background: $bgColorInput;
        mix-blend-mode: normal;
        padding: 19px 16px;
        opacity: 0.7;
        font-weight: 400;
        width: 714px;
        border-radius: 4px;
        outline: none;
        color: $primaryColor;
        border-width: 0;

        @media (max-width: $screen-md) {
          padding: 16px 12px;
          width: 384px;
        }
      }

      button {
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: $primaryColor;
        background: $secondaryColor;
        padding: 16px 74px;
        border-radius: 4px;
        cursor: pointer;
        border-width: 0;

        @media (max-width: $screen-md) {
          padding: 12px 48px;
        }
      }
    }
  }
}
