@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300;1,400;1,500&display=swap");
@import "variables";
@import "mixin";

body {
  @include font;
}

.page {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 396px;
  margin-bottom: 16px;
  color: $primaryColor;
  background: url("https://i.ibb.co/6XjvCPv/Bitmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 20px;

    div {
      margin-left: 60px;
    }

    button {
      margin-right: 60px;
      margin-left: auto;
      text-transform: uppercase;
      font-weight: 600;
      font-size: $fontSizeSecondary;
      line-height: 24px;
      color: $secondaryColor;
      background: rgba(96, 96, 96, 0.68);
      border-radius: 4px;
      cursor: pointer;
      padding: 12px 18px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 40px;
    margin-left: 120px;
  }

  .search-form {
    margin-left: 120px;

    &__content {
      display: flex;
      font-size: $fontSizeSecondary;
      line-height: 24px;
      border-radius: 4px;
      flex-direction: row;
      gap: 14px;

      input {
        background: rgba(50, 50, 50, 0.8);
        mix-blend-mode: normal;
        opacity: 0.7;
        font-weight: 400;
        width: 714px;
        border-radius: 4px;
        outline: none;
        color: $primaryColor;
      }

      button {
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: $primaryColor;
        background: $secondaryColor;
        padding: 16px 74px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
