@import "variables";
@import "mixin";

.main {
  background-color: $bgColor;
  padding: 20px 57px;

  @media (min-width: $screen-md) {
    padding: 14px 32px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  font-size: $fontSizeS;
  text-transform: $textUpper;

  @media (min-width: $screen-md) {
    margin-bottom: 8px;
    font-size: $fontSizeXs;
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    cursor: pointer;
    padding: 0;

    @media (min-width: $screen-md) {
      gap: 14px;
    }

    a {
      @include links($primaryColor, $tertiaryColor);
      position: relative;
      text-decoration: none;

      &:nth-child(n):hover:before {
        content: "";
        height: 4px;
        background: $tertiaryColor;
        position: absolute;
        display: block;
        width: 40px;
        top: 50px;
        z-index: 1;

        @media (min-width: $screen-md) {
          height: 2px;
          width: 30px;
          top: 39px;
        }
      }
    }
  }

  &__dropdown {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
    color: $primaryColor;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      gap: 18px;
    }

    p {
      opacity: 0.6;
    }

    ul {
      list-style-type: none;
    }
  }

  &__section {
    list-style: none;
    text-align: center;
    position: relative;
    padding: 5px 0;

    &:hover ul {
      opacity: 1;
      top: -30px;
      right: -2px;
      visibility: visible;

      @media (min-width: $screen-md) {
        top: 10px;
      }
    }

    a {
      color: $primaryColor;
      display: block;
      font-size: $fontSizeS;
      text-decoration: none;

      @media (min-width: $screen-md) {
        font-size: $fontSizeXs;
      }
    }
  }

  .dropdown:after {
    content: " \25bc";
    font-size: 12px;
    padding-left: 6px;
    color: $bgColorLink;
  }

  &__item {
    position: absolute;
    visibility: hidden;
    width: 134px;
    top: 10px;
    height: auto;
    right: -2px;
    z-index: 1;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

    a {
      background: $bgColorLink;
      padding: 10px 10px;

      &:hover {
        background: $bgColorLinkHov;
      }
    }
  }
}

.line {
  border-top: 4px solid $borderTopLine;
  width: 100%;
  position: relative;

  @media (min-width: $screen-md) {
    border-top: 2px solid $borderTopLine;
  }
}

.movie-results {
  font-size: $fontSizeL;
  line-height: 24px;

  @media (min-width: $screen-md) {
    font-size: $fontSizeM;
    line-height: 20px;
  }

  span {
    font-weight: 700;

    @media (min-width: $screen-md) {
      font-weight: 600;
    }
  }
}

.movie {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 28px 0;
  gap: 30px;

  @media (min-width: $screen-md) {
    grid-auto-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 17px;
  width: $movieCardWidth;
  cursor: pointer;

  @media (min-width: $screen-md) {
    line-height: 14px;
    width: $movieCardWidthMd;
  }

  img {
    height: 486px;

    @media (min-width: $screen-md) {
      height: 416px;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title {
    font-size: $fontSizeM;
    line-height: 22px;
    opacity: 0.7;
  }

  &__year {
    margin-left: auto;
    box-sizing: border-box;
    opacity: 0.5;
    border: 1px solid #979797;
    border-radius: 4px;
    text-align: center;
    padding: 4px 8px;
  }

  &__genre {
    opacity: 0.5;
    margin-top: -6px;
  }
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  padding: 10px 0;
  background: $borderTopLine;

  @media (min-width: $screen-md) {
    padding: 5px 0;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}
