@import "variables";
@import "mixin";

.main {
  padding: 20px 57px;
  background-color: $bgColor;

  @media (max-width: $screen-md) {
    padding: 14px 32px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  font-size: $fontSizeS;
  text-transform: $textUpper;

  @media (max-width: $screen-md) {
    margin-bottom: 8px;
    font-size: $fontSizeXs;
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0;
    list-style-type: none;
    cursor: pointer;

    @media (max-width: $screen-md) {
      gap: 14px;
    }
  }

  &__dropdown {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
    color: $primaryColor;
    text-transform: uppercase;

    @media (max-width: $screen-md) {
      gap: 18px;
    }

    p {
      opacity: 0.6;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
    text-transform: uppercase;

    &__hover {
      display: inline-block;
      padding: 10px;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0);
      color: $primaryColor;
      border: 0;
      cursor: pointer;

      &::after {
        content: " \25bc";
        padding-left: 6px;
        font-size: 12px;
        color: $bgColorLink;
      }
    }

    &__menu {
      position: absolute;
      visibility: hidden;
      top: 100%;
      left: 0;
      min-width: 160px;
      background-color: $bgColorLink;
      color: $primaryColor;
      text-transform: uppercase;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 150ms ease-in-out;

      @media (max-width: $screen-md) {
        min-width: 72px;
      }

      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        border-width: 0;
        border-radius: 4px;
        color: $primaryColor;

        &:hover {
          background: $bgColorLinkHov;
        }
      }
    }

    &:hover .dropdown__menu {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.switcher {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    appearance: none;
    outline: none;
    position: relative;
  }

  label {
    @include label($primaryColor, $tertiaryColor);
  }

  label:last-child {
    padding: 0;
  }

  &__control {
    padding-right: 30px;
  }

  &__checkbox:checked+&__control::after {
    position: absolute;
    display: block;
    z-index: 1;
    top: 66px;
    width: 40px;
    height: 4px;
    content: "";
    background: $tertiaryColor;
    transition: all 0.5s;

    @media (max-width: $screen-md) {
      top: 52px;
      width: 32px;
      height: 2px;
    }
  }

  &__checkbox:checked+&__control.large::after {
    position: absolute;
    display: block;
    z-index: 1;
    top: 66px;
    width: 134px;
    height: 4px;
    content: "";
    background: $tertiaryColor;
    transition: all 0.5s;

    @media (max-width: $screen-md) {
      top: 52px;
      width: 120px;
      height: 2px;
    }
  }

  &__checkbox:checked+&__control.medium::after {
    position: absolute;
    display: block;
    z-index: 1;
    top: 66px;
    width: 78px;
    height: 4px;
    content: "";
    background: $tertiaryColor;
    transition: all 0.5s;

    @media (max-width: $screen-md) {
      top: 52px;
      width: 70px;
      height: 2px;
    }
  }
}

.line {
  position: relative;
  width: 100%;
  border-top: 4px solid $borderTopLine;

  @media (max-width: $screen-md) {
    border-top: 2px solid $borderTopLine;
  }
}

.movie-results {
  font-size: $fontSizeL;
  line-height: 24px;

  @media (max-width: $screen-md) {
    font-size: $fontSizeM;
    line-height: 20px;
  }

  span {
    font-weight: 700;

    @media (max-width: $screen-md) {
      font-weight: 600;
    }
  }
}

.movie {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 28px 0;
  gap: 30px;

  @media (max-width: $screen-md) {
    grid-auto-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 17px;
  width: $movieCardWidth;
  cursor: pointer;

  @media (max-width: $screen-md) {
    line-height: 14px;
    width: $movieCardWidthMd;
  }

  img {
    height: 486px;

    @media (max-width: $screen-md) {
      height: 416px;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title {
    font-size: $fontSizeM;
    line-height: 22px;
    opacity: 0.7;
  }

  &__year {
    margin-left: auto;
    padding: 4px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.5;
    border: 1px solid #979797;
    text-align: center;
  }

  &__genre {
    margin-top: -6px;
    opacity: 0.5;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  padding: 10px 0;
  background: $borderTopLine;

  @media (max-width: $screen-md) {
    padding: 5px 0;
  }
}

.footer-logo {
  display: block;
  margin: 0 auto;
}
