@import "variables";
@import "mixin";

.main {
  background-color: $bgColor;
  padding: 20px 57px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  font-size: 16px;
  text-transform: $textUpper;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    cursor: pointer;
    padding: 0;

    a {
      @include links($primaryColor, $tertiaryColor);
      position: relative;
      text-decoration: none;

      &:nth-child(n):hover:before {
        content: "";
        height: 4px;
        background: $tertiaryColor;
        position: absolute;
        display: block;
        width: 40px;
        top: 50px;
        z-index: 1;
      }
    }
  }

  &__dropdown {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
    color: white;
    text-transform: uppercase;

    p {
      opacity: 0.6;
    }

    ul {
      list-style-type: none;
    }
  }

  &__section {
    list-style: none;
    text-align: center;
    position: relative;

    &:hover ul {
      opacity: 1;
      top: 20px;
      right: -2px;
      visibility: visible;
    }

    a {
      color: white;
      display: block;
      font-size: 16px;
      text-decoration: none;
    }
  }

  .dropdown:after {
    content: " \25bc";
    font-size: 12px;
    padding-left: 6px;
    color: #f65261;
  }

  &__item {
    position: absolute;
    visibility: hidden;
    right: -2px;
    z-index: 1;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

    a {
      background: #f65261;
      padding: 10px 10px;

      &:hover {
        background: #888888;
      }
    }
  }
}

.line {
  border-top: 4px solid #424242;
  width: 100%;
  position: relative;
}

.movie-results {
  font-size: 20px;
  line-height: 24px;

  span {
    font-weight: 700;
  }
}

.movie {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 28px 0;
  gap: 30px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 17px;
  width: $movieCardWidth;
  cursor: pointer;

  img {
    height: 486px;
  }

  &__info {
    display: flex;
    flex-direction: row;
  }

  &__title {
    font-size: 18px;
    line-height: 22px;
    opacity: 0.7;
  }

  &__year {
    margin-left: auto;
    box-sizing: border-box;
    opacity: 0.5;
    border: 1px solid #979797;
    border-radius: 4px;
    text-align: center;
    padding: 4px 8px;
  }

  &__genre {
    opacity: 0.5;
    margin-top: -6px;
  }
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  padding: 10px 0;
  background: #424242;

  img {
    display: block;
    margin: 0 auto;
  }
}
