@mixin font {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: white;
    background-color: #424242;
}

@mixin links($link, $hover) {
    color: $link;

    &:hover {
        color: $hover;
    }
}
