$primaryColor: white;
$secondaryColor: #f65261;
$tertiaryColor: #f38281;
$bgColor: #232323;
$bgColorLink: #f65261;
$bgColorLinkHov: #888888;
$borderTopLine: #424242;
$fontSizeL: 20px;
$fontSizeM: 18px;
$fontSizeS: 16px;
$fontSizeXs: 14px;
$movieCardWidth: 323px;
$movieCardWidthMd: 318px;
$textUpper: uppercase;
$screen-md: 768px;
