$primaryColor: white;
$secondaryColor: #f65261;
$tertiaryColor: #f38281;
$bgColor: #232323;
$bgColorBtn: rgba(96, 96, 96, 0.68);
$bgColorOpacity: rgba(0, 0, 0, 0.9);
$bgColorInput: rgba(50, 50, 50, 0.8);
$bgColorLink: #f65261;
$bgColorLinkHov: #888;
$borderTopLine: #424242;
$fontSizeL: 20px;
$fontSizeM: 18px;
$fontSizeS: 16px;
$fontSizeXs: 14px;
$movieCardWidth: 323px;
$movieCardWidthMd: 318px;
$textUpper: uppercase;
$screen-md: 768px;
